.paste [id^="line-number"]::before {
  background: #fff;
  border-right: 1px solid #cdcdcd;
  color: #666;
  content: counter(line);
  display: inline-block;
  height: 100%;
  padding: 0 1rem 0 0;
  margin-right: 1rem;
  pointer-events: none;
  text-align: right;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 4.5rem;
}

[id^="line-number"] {
  counter-increment: line;
  position: relative;
  width: 100%;
}

[id^="line-number"]:last-of-type {
  padding-bottom: 0;
}

pre {
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 0;
}

textarea {
  font-family: monospace, monospace;
  font-size: 14px;
}

